[v-cloak] {display: none}

.spinner {
    /* font-size:24px;  */
    /* margin-left: 10px;
    margin-top: 10px; */
}

.wm-margin-left---40 {
    margin-left: -40px;
}

.wm-margin-top--20 { margin-top: 20px;}
.wm-margin-v--10 {margin: 10px 0;}
.wm-margin-v--5 {margin: 5px 0;}
.wm-margin-bottom--0 {margin-bottom: 0;}
.wm-height--500 { height: 500px; }
.wm-overflow-y--auto { overflow-y: auto;}
.wm-background-color--gray { background-color: #e1e1e1;}
.wm-padding--0 {padding: 0;}
.wm-padding--10 {padding: 10px;}
.wm-padding-v--10 {padding-top: 10px;padding-bottom: 10px;}
.wm-list-style--none {list-style-type: none; margin-left: 0; }
.wm-border-bottom { border-bottom: solid 1px #ccc;}
.wm-border-v { border-bottom: solid 1px #ccc;border-top: solid 1px #ccc;}

